
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2 class="text-center">Welcome, Admin!</h2>
<div class="text-center" style="margin-top: 20px; font-size: 18px">
    <a asp-action="Logout" asp-controller="Account">Log out</a>
</div>
