<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>Big Kiiten Blog</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">

    <environment include="Development">
        <!-- Font -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

        <!-- Stylesheets -->
        <link href="~/common-css/bootstrap.css" rel="stylesheet">
        <link href="~/common-css/ionicons.css" rel="stylesheet">
        <link href="~/common-css/layerslider.css" rel="stylesheet">
        <link href="~/01-homepage/css/styles.css" rel="stylesheet">
        <link href="~/01-homepage/css/responsive.css" rel="stylesheet">
        <link href="~/02-Single-post/css/styles.css" rel="stylesheet">
        <link href="~/02-Single-post/css/responsive.css" rel="stylesheet">
    </environment>

</head>
<body>

    <header>

        <div class="top-menu">

            <ul class="left-area welcome-area">
                <li class="hello-blog">Hello nice people, welcome to my blog</li>
                <li><a href="mailto:bigkitten.info@gmail.com">bigkitten.info@gmail.com</a></li>
                <li>
                    <ul class="social-icons">
                        <li><a href="https://www.facebook.com/tupt0101" target="_blank"><i class="ion-social-facebook-outline"></i></a></li>
                        <li><a href="https://twitter.com/tupt0101" target="_blank"><i class="ion-social-twitter-outline"></i></a></li>
                        <li><a href="https://www.instagram.com/tupt0101" target="_blank"><i class="ion-social-instagram-outline"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/tupt0101" target="_blank"><i class="ion-social-linkedin-outline"></i></a></li>
                        <li><a href="https://www.youtube.com/channel/UC3cmFIltMWS7Hfgr9-O8XXQ" target="_blank"><i class="ion-social-youtube-outline"></i></a></li>
                    </ul>
                </li>
            </ul><!-- left-area -->


            <div class="right-area">
                <ul>
                    <li style="margin-right: 15px;">
                        <a asp-controller="Home" asp-action="Login" style="text-decoration: none"> <i class="ion-log-in"></i> Log in</a>
                    </li>
                </ul>
            </div><!-- right-area -->

        </div><!-- top-menu -->

        <div class="middle-menu center-text">
            <a asp-controller="Home" asp-action="Index" class="logo"><img src="~/images/cat.png" alt="Logo Image"></a>
            <h2 style="font-family: 'Montserrat', sans-serif; margin-top: -10px"><a style="text-decoration: none" asp-controller="Home" asp-action="Index">Big Kitten</a></h2>
            <p style="font-size: 18px; margin-top: 5px">software engineering student, blogger at &#64;BigKitten</p><br />
        </div>

        <div class="bottom-area">

            <div class="menu-nav-icon" data-nav-menu="#main-menu"><i class="ion-navicon"></i></div>

            <ul class="main-menu visible-on-click" id="main-menu">
                <li><a asp-controller="Home" asp-action="Index">HOME</a></li>
                @await Component.InvokeAsync("CategoryMenu")
                <li><a asp-controller="Home" asp-action="About">ABOUT ME</a></li>
            </ul><!-- main-menu -->

        </div><!-- conatiner -->
    </header>


    @*<div class="main-slider">
            <div id="slider">

                <div class="ls-slide" data-ls="bgsize:cover; bgposition:50% 50%; duration:4000; transition2d:104; kenburnsscale:1.00;">
                    <img src="images/slider-1-1600x800.jpg" class="ls-bg" alt="" />

                    <div class="slider-content ls-l" style="top:60%; left:30%;" data-ls="offsetyin:100%; offsetxout:-50%; durationin:800; delayin:100; durationout:400; parallaxlevel:0;">
                        <a class="btn" href="#">TRAVEL</a>
                        <h3 class="title"><b>Travel, Love, Live</b></h3>
                        <h6>29 October, 2017</h6>
                    </div>

                </div><!-- ls-slide -->

                <div class="ls-slide" data-ls="bgsize:cover; bgposition:50% 50%; duration:4000; transition2d:104; kenburnsscale:1.00;">
                    <img src="images/slider-2-1600x800.jpg" class="ls-bg" alt="" />

                    <div class="slider-content ls-l" style="top:60%; left:30%;" data-ls="offsetyin:100%; offsetxout:-50%; durationin:800; delayin:100; durationout:400; parallaxlevel:0;">
                        <a class="btn" href="#">TRAVEL</a>
                        <h3 class="title"><b>Travel, Love, Live</b></h3>
                        <h6>29 October, 2017</h6>
                    </div>

                </div><!-- ls-slide -->

            </div><!-- slider -->
        </div>*@<!-- main-slider -->

    <partial name="_CookieConsentPartial" />

    <div class="container body-content" style="margin-top: 50px;">
        <section class="section blog-area">
            <div class="container">
                <div class="row">

                    <div class="col-lg-8 col-md-12">
                        <div class="blog-posts">
                            @RenderBody()
                        </div>
                    </div><!-- col-lg-4 -->


                    <div class="col-lg-4 col-md-12">
                        <div class="sidebar-area">

                            <div class="sidebar-section src-area">

                                <form method="post" asp-controller="Post" asp-action="Search">
                                    <input class="src-input" type="text" placeholder="Search" name="searchKey">
                                    <button class="src-btn" type="submit"><i class="ion-ios-search-strong"></i></button>
                                </form>

                            </div><!-- sidebar-section src-area -->

                            <div class="sidebar-section about-author center-text">
                                <div class="author-image"><img src="~/images/author.jpg" alt="Autohr Image"></div>

                                <ul class="social-icons">
                                    <li><a href="https://www.facebook.com/tupt0101" target="_blank"><i class="ion-social-facebook-outline"></i></a></li>
                                    <li><a href="https://twitter.com/tupt0101" target="_blank"><i class="ion-social-twitter-outline"></i></a></li>
                                    <li><a href="https://www.instagram.com/tupt0101" target="_blank"><i class="ion-social-instagram-outline"></i></a></li>
                                    <li><a href="https://www.linkedin.com/in/tupt0101" target="_blank"><i class="ion-social-linkedin-outline"></i></a></li>
                                    <li><a href="https://www.youtube.com/channel/UC3cmFIltMWS7Hfgr9-O8XXQ" target="_blank"><i class="ion-social-youtube-outline"></i></a></li>
                                </ul><!-- right-area -->

                                <h4 class="author-name"><b class="light-color">Phan Thành Tú</b></h4>
                                <p>
                                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                    dolore magnam aliquam quaerat voluptatem.
                                </p>

                                <div class="signature-image"><img src="~/images/signature.png" alt="Signature Image"></div>
                                <a class="read-more-link" asp-controller="Home" asp-action="About"><b>READ MORE</b></a>

                            </div><!-- sidebar-section about-author -->

                            <div class="sidebar-section category-area">
                                <h4 class="title"><b class="light-color">Categories</b></h4>
                                @await Component.InvokeAsync("CategorySidebar")
                            </div><!-- sidebar-section category-area -->

                            <div class="sidebar-section latest-post-area">
                                <h4 class="title"><b class="light-color">Random Posts</b></h4>

                                @await Component.InvokeAsync("RandomPost")

                            </div>

                            <div class="sidebar-section tags-area">
                                <h4 class="title"><b class="light-color">Tags</b></h4>
                                <ul class="tags">
                                    <li><a class="btn" href="#">design</a></li>
                                    <li><a class="btn" href="#">fasinon</a></li>
                                    <li><a class="btn" href="#">travel</a></li>
                                    <li><a class="btn" href="#">music</a></li>
                                    <li><a class="btn" href="#">video</a></li>
                                    <li><a class="btn" href="#">photography</a></li>
                                    <li><a class="btn" href="#">adventure</a></li>
                                </ul>
                            </div><!-- sidebar-section tags-area -->
                            <!-- sidebar-section latest-post-area -->
                            @*<div class="sidebar-section advertisement-area">
                                    <h4 class="title"><b class="light-color">Advertisement</b></h4>
                                    <a class="advertisement-img" href="#">
                                        <img src="images/advertise-1-400x500.jpg" alt="Advertisement Image">
                                        <h6 class="btn btn-2 discover-btn">DISCOVER</h6>
                                    </a>
                                </div>*@
                            <!-- sidebar-section advertisement-area -->

                            <div class="sidebar-section newsletter-area">
                                <h5 class="title"><b>Subscribe to our newsletter</b></h5>
                                <form method="post" asp-controller="Post" asp-action="Subscribe">
                                    <input name="email" class="email-input" type="text" placeholder="Your email here">
                                    <button class="btn btn-2" type="submit">SUBSCRIBE</button>
                                </form>
                            </div>
                            <!-- sidebar-section newsletter-area -->


                        </div><!-- about-author -->
                    </div><!-- col-lg-4 -->

                </div><!-- row -->
            </div><!-- container -->
        </section><!-- section -->
    </div>

    <footer>
        <div class="container">
            <div class="row">

                <div class="col-sm-8">
                    <div class="footer-section">
                        <p class="copyright">Big Kitten &copy; 2019. All rights reserved. | This template is made by Colorlib.</</p>
                    </div><!-- footer-section -->
                </div><!-- col-lg-4 col-md-6 -->

                <div class="col-sm-4">
                    <div class="footer-section">
                        <ul class="social-icons">
                            <li><a href="https://www.facebook.com/tupt0101" target="_blank"><i class="ion-social-facebook-outline"></i></a></li>
                            <li><a href="https://twitter.com/tupt0101" target="_blank"><i class="ion-social-twitter-outline"></i></a></li>
                            <li><a href="https://www.instagram.com/tupt0101" target="_blank"><i class="ion-social-instagram-outline"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/tupt0101" target="_blank"><i class="ion-social-linkedin-outline"></i></a></li>
                            <li><a href="https://www.youtube.com/channel/UC3cmFIltMWS7Hfgr9-O8XXQ" target="_blank"><i class="ion-social-youtube-outline"></i></a></li>
                        </ul>
                    </div><!-- footer-section -->
                </div><!-- col-lg-4 col-md-6 -->

            </div><!-- row -->
        </div><!-- container -->
    </footer>


    <!-- SCIPTS -->

    <script src="common-js/jquery-3.1.1.min.js"></script>

    <script src="common-js/tether.min.js"></script>

    <script src="common-js/bootstrap.js"></script>

    <script src="common-js/layerslider.js"></script>

    <script src="common-js/scripts.js"></script>

</body>
</html>
