@model PostListViewModel

<div class="text-center" style="margin-bottom: 20px">
    <a class="btn" style="width: 100%"><h5>Subscribe</h5></a>
</div>

<p>You’ll get an email with a link to confirm your sub.</p> 
<p>If you don’t get it, please contact us.</p> 
<p>Thanks.</p>



